<div id="container" style="text-align: center; min-width: 310px; height: 400px; margin: 0 auto">
    <div style="padding-top:50px">
    기다려주세욤
    </div>
    <div>
    <img src="/831.svg" alt="" style="height:100px;margin-top:50px">
    </div>
</div>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script>
    $.getJSON(
        '/twitters/cache_months'
    ,
    function (data) {
        int_data = data.map( (d) => { return [parseInt(d[0])+1*1000*60*60*24, d[1]]})

        a = Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: '2009-2019 Number of times mentioned on Twitter per month'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: "%y년 %m월",

                }
            },
            yAxis: {
                title: {
                    text: 'Number of times'
                }
                
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[5]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[4]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 1
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    }
                    
                }
            },

            series: [{
                type: 'area',
                name: '언급 된 수',
                data: int_data,
                dataLabels: {
                    align: "right"
                }                
                
                
            }],

            tooltip: {
                dateTimeLabelFormats: {
                    hour: "%y년 %m월"
                }                
            }
            
        });
    }
);
</script>

<!--<#%= line_chart Twitter.group_by_month(:p_date, format: "%y/%m").count,
          title: "2009-2019 Number of times mentioned on Twitter per month",
          color: ['green'],
          library: {
              yAxis: {
                  labels: {
                      format: '${value}'
                  }
              },
              tooltip: {
                pointFormat: 'Total Spent: <b>{point.y}</b>',
                xDateFormat: '%B',
                valuePrefix: '$'
              }
            } %>-->